<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc.scm.mdm.dao.mapper.BasCountryMapper" >
  <resultMap id="BaseResultMap" type="com.hc.scm.mdm.dao.entity.BasCountry" >
    <id column="country_no" property="countryNo" jdbcType="VARCHAR" />
    <result column="country_name" property="countryName" jdbcType="VARCHAR" />
    <result column="currency_no" property="currencyNo" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="INTEGER" />
    <result column="enable_flag" property="enableFlag" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    country_no, country_name, currency_no, order_no, enable_flag, creator, create_time, 
    modifier, modify_time, remarks
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
      <if test="null!=params.countryNo and ''!=params.countryNo" >
        and country_no = #{params.countryNo}
      </if>
       <if test="null!=params.countryName and ''!=params.countryName" >
        and country_name like concat('%',#{params.countryName},'%')
      </if>
      <if test="null!=params.currencyNo and ''!=params.currencyNo" >
        and currency_no like concat('%',#{params.currencyNo},'%')
      </if>
          	<!--启用状态过滤-->
    	<if test="null!=params.enableFlag and ''!=params.enableFlag">
    		and enable_flag =#{params.enableFlag}
    	</if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM bas_country
    WHERE country_no = #{countryNo,jdbcType=VARCHAR}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM bas_country WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM bas_country WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM bas_country WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    DELETE FROM bas_country
    WHERE country_no = #{countryNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="com.hc.scm.mdm.dao.entity.BasCountry" >
    DELETE FROM bas_country
    WHERE country_no = #{countryNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hc.scm.mdm.dao.entity.BasCountry" >
    INSERT INTO bas_country (country_no, country_name, currency_no, 
      order_no, enable_flag, creator, 
      create_time, modifier, modify_time, 
      remarks)
    VALUES (#{countryNo,jdbcType=VARCHAR}, #{countryName,jdbcType=VARCHAR}, #{currencyNo,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=INTEGER}, #{enableFlag,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hc.scm.mdm.dao.entity.BasCountry" >
    INSERT INTO bas_country
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="countryNo != null" >
        country_no,
      </if>
      <if test="countryName != null" >
        country_name,
      </if>
      <if test="currencyNo != null" >
        currency_no,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="enableFlag != null" >
        enable_flag,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="countryNo != null" >
        #{countryNo,jdbcType=VARCHAR},
      </if>
      <if test="countryName != null" >
        #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="currencyNo != null" >
        #{currencyNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="enableFlag != null" >
        #{enableFlag,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hc.scm.mdm.dao.entity.BasCountry" >
    UPDATE bas_country
    <set >
      <if test="countryName != null" >
        country_name = #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="currencyNo != null" >
        currency_no = #{currencyNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="enableFlag != null" >
        enable_flag = #{enableFlag,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE country_no = #{countryNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hc.scm.mdm.dao.entity.BasCountry" >
    UPDATE bas_country
    SET country_name = #{countryName,jdbcType=VARCHAR},
      currency_no = #{currencyNo,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=INTEGER},
      enable_flag = #{enableFlag,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR}
    WHERE country_no = #{countryNo,jdbcType=VARCHAR}
  </update>
</mapper>