<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc.scm.mdm.dao.mapper.BasStoreMapper" >
  <resultMap id="BaseResultMap" type="com.hc.scm.mdm.dao.entity.BasStore" >
    <id column="store_no" property="storeNo" jdbcType="VARCHAR" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="brand_no" property="brandNo" jdbcType="VARCHAR" />
    <result column="factory_no" property="factoryNo" jdbcType="VARCHAR" />
    <result column="division_no" property="divisionNo" jdbcType="VARCHAR" />
    <result column="store_type" property="storeType" jdbcType="VARCHAR" />
    <result column="is_master" property="isMaster" jdbcType="INTEGER" />
    <result column="enable_flag" property="enableFlag" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    store_no, store_name, brand_no, factory_no, division_no, store_type,is_master, enable_flag, 
    order_no, creator, create_time, modifier, modify_time, remarks
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
      <if test="null!=params.storeNo and ''!=params.storeNo" >
        and store_no = #{params.storeNo,jdbcType=VARCHAR}         
      </if> 
      <if test="null!=params.storeName and ''!=params.storeName" >
        and store_name  = #{params.storeName,jdbcType=VARCHAR}         
      </if>
      <if test="null!=params.factoryNo and ''!=params.factoryNo" >
        and factory_no = #{params.factoryNo,jdbcType=VARCHAR}
      </if>
      <if test="null!=params.brandNo and ''!=params.brandNo" >
        and brand_no = #{params.brandNo,jdbcType=VARCHAR}
      </if>
       <!--storeType,模块需要(勿删)-->
      <if test="null!=params.storeType and ''!=params.storeType" >
        and store_type = #{params.storeType,jdbcType=VARCHAR}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM bas_store
    WHERE store_no = #{storeNo,jdbcType=VARCHAR}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM bas_store WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM bas_store WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM bas_store WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    DELETE FROM bas_store
    WHERE store_no = #{storeNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="com.hc.scm.mdm.dao.entity.BasStore" >
    DELETE FROM bas_store
    WHERE store_no = #{storeNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hc.scm.mdm.dao.entity.BasStore" >
    INSERT INTO bas_store (store_no, store_name, brand_no, 
      factory_no, division_no, store_type, is_master,
      enable_flag, order_no, creator, 
      create_time, modifier, modify_time, 
      remarks)
    VALUES (#{storeNo,jdbcType=VARCHAR}, #{storeName,jdbcType=VARCHAR}, #{brandNo,jdbcType=VARCHAR}, 
      #{factoryNo,jdbcType=VARCHAR}, #{divisionNo,jdbcType=VARCHAR}, #{storeType,jdbcType=VARCHAR}, 
      #{isMaster,jdbcType=INTEGER}, 
      #{enableFlag,jdbcType=INTEGER}, #{orderNo,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hc.scm.mdm.dao.entity.BasStore" >
    INSERT INTO bas_store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storeNo != null" >
        store_no,
      </if>
      <if test="storeName != null" >
        store_name,
      </if>
      <if test="brandNo != null" >
        brand_no,
      </if>
      <if test="factoryNo != null" >
        factory_no,
      </if>
      <if test="divisionNo != null" >
        division_no,
      </if>
      <if test="storeType != null" >
        store_type,
      </if>
      <if test="isMaster != null" >
        is_master,
      </if>
      <if test="enableFlag != null" >
        enable_flag,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storeNo != null" >
        #{storeNo,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="brandNo != null" >
        #{brandNo,jdbcType=VARCHAR},
      </if>
      <if test="factoryNo != null" >
        #{factoryNo,jdbcType=VARCHAR},
      </if>
      <if test="divisionNo != null" >
        #{divisionNo,jdbcType=VARCHAR},
      </if>
      <if test="storeType != null" >
        #{storeType,jdbcType=VARCHAR},
      </if>
      <if test="isMaster != null" >
        #{isMaster,jdbcType=INTEGER},
      </if>
      <if test="enableFlag != null" >
        #{enableFlag,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hc.scm.mdm.dao.entity.BasStore" >
    UPDATE bas_store
    <set >
      <if test="storeName != null" >
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="brandNo != null" >
        brand_no = #{brandNo,jdbcType=VARCHAR},
      </if>
      <if test="factoryNo != null" >
        factory_no = #{factoryNo,jdbcType=VARCHAR},
      </if>
      <if test="divisionNo != null" >
        division_no = #{divisionNo,jdbcType=VARCHAR},
      </if>
      <if test="storeType != null" >
        store_type = #{storeType,jdbcType=VARCHAR},
      </if>
      <if test="isMaster != null" >
        is_master = #{isMaster,jdbcType=INTEGER},
      </if>
      <if test="enableFlag != null" >
        enable_flag = #{enableFlag,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE store_no = #{storeNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hc.scm.mdm.dao.entity.BasStore" >
    UPDATE bas_store
    SET store_name = #{storeName,jdbcType=VARCHAR},
      brand_no = #{brandNo,jdbcType=VARCHAR},
      factory_no = #{factoryNo,jdbcType=VARCHAR},
      division_no = #{divisionNo,jdbcType=VARCHAR},
      store_type = #{storeType,jdbcType=VARCHAR},
      is_master = #{isMaster,jdbcType=INTEGER},
      enable_flag = #{enableFlag,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR}
    WHERE store_no = #{storeNo,jdbcType=VARCHAR}
  </update>
</mapper>