<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc.scm.mdm.dao.mapper.BillMaterialSizeMapper" >
  <resultMap id="BaseResultMap" type="com.hc.scm.mdm.dao.entity.BillMaterialSize" >
    <id column="line_id" property="lineId" jdbcType="BIGINT" />
    <result column="bill_no" property="billNo" jdbcType="VARCHAR" />
    <result column="material_no" property="materialNo" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="INTEGER" />
    <result column="size_no" property="sizeNo" jdbcType="VARCHAR" />
    <result column="barcode" property="barcode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    line_id, bill_no, material_no, order_no, size_no, barcode
  </sql>
   <sql id="condition" >
     <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
      <if test="null!=params.billNo and ''!=params.billNo">
        and	bill_no = #{params.billNo}
      </if>
      <if test="null!=params.materialNo and ''!=params.materialNo">
        and	material_no = #{params.materialNo}
      </if>            
    </if>
 </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM bill_material_size
    WHERE line_id = #{lineId,jdbcType=BIGINT}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM bill_material_size WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM bill_material_size WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM bill_material_size WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    DELETE FROM bill_material_size
    WHERE line_id = #{lineId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="com.hc.scm.mdm.dao.entity.BillMaterialSize" >
    DELETE FROM bill_material_size
    WHERE line_id = #{lineId,jdbcType=BIGINT}
      <if test="billNo != null and billNo !=''">
          AND bill_no = #{billNo,jdbcType=VARCHAR}
      </if>
  </delete>
  <insert id="insert" parameterType="com.hc.scm.mdm.dao.entity.BillMaterialSize" >
    INSERT INTO bill_material_size (bill_no, material_no, 
      order_no, size_no, barcode
      )
    VALUES (#{billNo,jdbcType=VARCHAR}, #{materialNo,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=INTEGER}, #{sizeNo,jdbcType=VARCHAR}, #{barcode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hc.scm.mdm.dao.entity.BillMaterialSize" >
    INSERT INTO bill_material_size
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="billNo != null" >
        bill_no,
      </if>
      <if test="materialNo != null" >
        material_no,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="sizeNo != null" >
        size_no,
      </if>
      <if test="barcode != null" >
        barcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="billNo != null" >
        #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="materialNo != null" >
        #{materialNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="sizeNo != null" >
        #{sizeNo,jdbcType=VARCHAR},
      </if>
      <if test="barcode != null" >
        #{barcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hc.scm.mdm.dao.entity.BillMaterialSize" >
    UPDATE bill_material_size
    <set >
      <if test="billNo != null" >
        bill_no = #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="materialNo != null" >
        material_no = #{materialNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="sizeNo != null" >
        size_no = #{sizeNo,jdbcType=VARCHAR},
      </if>
      <if test="barcode != null" >
        barcode = #{barcode,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE line_id = #{lineId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hc.scm.mdm.dao.entity.BillMaterialSize" >
    UPDATE bill_material_size
    SET bill_no = #{billNo,jdbcType=VARCHAR},
      material_no = #{materialNo,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=INTEGER},
      size_no = #{sizeNo,jdbcType=VARCHAR},
      barcode = #{barcode,jdbcType=VARCHAR}
    WHERE line_id = #{lineId,jdbcType=BIGINT}
  </update>
</mapper>